<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<p>Информация о пользователе</p>
<table>
    <thead>
    <tr>
        <th> ID </th>
        <th> Имя </th>
        <th> Email</th>
        <th> Статус </th>
        <th> Uri </th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${user.getId()}"></span></td>
        <td><span th:text="${user.getName()}"></span></td>
        <td><span th:text="${user.getEmail()}"></span></td>
        <td><span th:text="${user.getActive()}"></span></td>
        <td><span th:text="${user.getUriFile()}"></span></td>
        <td><span th:text="${user.getTimestamp()}"></span></td>
    </tr>
    </tbody>
</table>
<a href="/userList">User list</a>
<a th:href="@{'/userActive/' + ${user.id}}">Active user</a>
</body>
</html>